<header>
    <h1 class="titleBar">Tiny App</h1>
</header>

<% if (user_id) {%>
  <form method="POST" action = "/logout">
    <div class="container text-center">
          <p> Logged in as: <%= email %>  <a href="/urls/new">Create a short URL</a></p>
          <button class="titleBar" type="submit">Logout</button>
    </div>
  </form>
<% } else { %>
  <form method="POST" action = "/login">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </form>
<% } %>
