<h1>Tiny App</h1>

<% if (username) {%>
<form method="POST" action = "/logout">
  <h1> Logged in as: <%= username %></h1>
  <button type="submit" class="btn btn-primary">Logout</button>
</form>
<% }
 else { %>
<form method="POST" action = "/login">
        <p>Username:</p>
        <input type="text" name="username" placeholder="Please enter your username">
        <p></p>
        <button type="submit" class="btn btn-primary">Login</button>
</form>
<% } %>