<header>
<h1>Tiny App</h1>
</header>

<% if (username) {%>
<form method="POST" action = "/logout">
  <h1> Logged in as: <%= username %></h1>
  <button type="submit" class="btn btn-primary">Logout</button>
</form>
<% }
 else { %>
<form method="POST" action = "/login">
      <a href="/login">Login</a>
      <a ref="/register">Register</a>
</form>
<% } %>
