<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title></title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <h1 class="bg-primary text-white text-center">Tiny App</h1>
      <div class="register-container">
       <p class="text-center">Not A Member Yet ? <a href="/register">Register</a></p>
      </div>
    <h2 class="text-center">Login</h2>
        <form method="POST" action = "/login">
              <div class="d-flex justify-content-center">
                <input class="p-2" type="email" name="useremail" placeholder="Email">
                <input class="p-2" type="password" name="userpass" placeholder="Password">
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit" >Login</button>
        </form>
  </body>
</html>