<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/index.css" type="text/css" />

  <title>Tiny App Register</title>
</head>

<body style="font-size:20px; padding:50px;">

    <div class="register-container">
      <h1 class="titleBar">Tiny App</h1>
      <p class="memberText">Already A Member ?</p>
      <a class="navButtons" href="/login">Login</a>
    </div>

    <h2 class="subTitle">Register</h2>
    <form method="POST" action = "/register">
      <div class="d-flex justify-content-center">
        <input class="inputText" type="email" name="useremail" placeholder="Email" autocomplete="off">
        <input class="inputText" type="password" name="userpass" placeholder="Password" autocomplete="off">
      </div>
        <button class="navbuttons" type="submit">Register</button>
    </form>
</body>
</html>